body{
    background: linear-gradient( rgba(199,237,251,1) 0%, rgba(145,211,244,1) 36%, rgba(0,212,255,1) 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    height:565px;
}

/*
===============
Search Page
===============
*/
.top{
    display:flex;
    justify-content:center;
    font-size:40px;
    height:fit-content;
    font-family: "Roboto", sans-serif;
    color:white;
}

#header-icon{
    height:150px;
    width:150px;
}

.container{
    display:flex;
    justify-content:center;
    flex-direction: column;
    height:500px;
    width:700px;
}

/* input box */
#city{
    width:70%;
    height:100%;
    font-size:20px;
    font-family: "Roboto", sans-serif;
    cursor: text;
}

.submit{
    width:15%;
    height:125%;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    border: 0;
    background-color:white;
}

.submit:hover{
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
}

/*
===============
Weather Details
===============
*/
#weather{
    display:flex;
    align-items:center;
    height:400px;
    width:600px;
}

.weather-container{
    background-color: #7dd3c2;
    border-radius: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:400px;
    font-family: "Roboto", sans-serif;
    color:white;
    font-size:20px;
}

#img-icon{
    width:90px;
    height:90px;
}

/*
===============
Types of backgrounds
===============
*/
.cloud {
    background: rgb(189,157,210);
    background: linear-gradient( rgba(189,157,210,1) 0%, rgba(69,136,252,1) 100%);
}

.sun {
    background: rgb(98,255,189);
    background: linear-gradient(0deg, rgba(98,255,189,1) 12%, rgba(98,205,238,1) 100%);
}

.rain {
    background: rgba(116,129,182,1);
    background: linear-gradient(rgba(116,129,182,1) 0%, rgba(72,102,147,1) 100%);
}

.snow {
    background: rgb(116,164,182);
    background: linear-gradient( rgba(116,164,182,1) 0%, rgba(72,102,147,1) 100%); 
}

.clear {
    background: rgb(157,210,174);
    background: linear-gradient( rgba(157,210,174,1) 0%, rgba(86,231,220,1) 100%);
}

.haze {
    background: rgb(210,157,157);
    background: linear-gradient( rgba(210,157,157,1) 0%, rgba(252,98,69,1) 100%);
}

/*
===============
Details box
===============
*/
#details {
    display:flex;
    justify-content:center;
    align-items:center;
    height: auto;
    flex-direction: column;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    color:white;
}

/*
===============
High and Low Section 
===============
*/
#high-low {
    display:flex;
    justify-content:center;
    align-items:center;
    height: auto;
    margin-bottom: 20px;
}

#high {
    margin-right: 45px;
}

#back{
    height: 50px;
    width:600px;
    margin-top: 20px;
    color:white;
}